<!-- Create the launch file for ROS -->
<launch>
	<arg name="speed" default="1.0"/>
	<arg name="file_name" default="codaSemplice"/>
	<node name="generatore" pkg="simulator" type="generator.py" output="screen">
		<param name="node_name" value="generatore"/>
		<param name="next_element" value="coda"/>
		<param name="gen_freq" value="2"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="num_messages" value="60"/>
	</node>

	<node name="coda" pkg="simulator" type="coda.py" output="screen">
		<param name="node_name" value="coda"/>
		<param name="next_element" value="end"/>
		<param name="num_servers" value="1"/>
		<param name="server_time" value="1.5"/>
		<param name="speed" value="$(arg speed)"/>
	</node>

	<node name="end" pkg="simulator" type="end_node.py" output="screen">
		<param name="node_name" value="end"/>
		<param name="modality" value="events"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="file_name" value="$(arg file_name)"/>
	</node>

</launch>

