<!-- Create the launch file for ROS -->
<launch>

	<arg name="speed" default="10.0"/>
	<arg name="file_name" default="test"/>

	<node name="gen1" pkg="simulator" type="generator.py" output="screen">
		<param name="node_id" value="1"/>
		<param name="node_name" value="gen1"/>
		<param name="next_element" value="switch"/>
		<param name="gen_freq" value="10"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="num_messages" value="500"/>
		<param name="event_type" value="test"/>
		<param name="attribute1" value="test"/>
		<param name="value1" value="0.3"/>
	</node>

	<node name="coda1" pkg="simulator" type="coda.py" output="screen">
		<param name="node_id" value="1"/>
		<param name="node_name" value="coda1"/>
		<param name="next_element" value="end_node"/>
		<param name="num_servers" value="5"/>
		<param name="server_time" value="3"/>
		<param name="speed" value="$(arg speed)"/>
	</node>

	<node name="coda2" pkg="simulator" type="coda.py" output="screen">
		<param name="node_id" value="2"/>
		<param name="node_name" value="coda2"/>
		<param name="next_element" value="end_node"/>
		<param name="num_servers" value="5"/>
		<param name="server_time" value="2"/>
		<param name="speed" value="$(arg speed)"/>
	</node>

	<node name="switch" pkg="simulator" type="switch2.py" output="screen">
		<param name="node_id" value="1"/>
		<param name="node_name" value="switch"/>
		<param name="modality" value="split_attribute"/>
		<param name="split_attribute" value="test"/>
		<param name="topic1" value="coda1"/>
		<param name="topic2" value="coda2"/>
		<param name="attribute_num" value="1"/>
	</node>

	<node name="end_node" pkg="simulator" type="end_node.py" output="screen">
		<param name="node_id" value="4"/>
		<param name="node_name" value="end_node"/>
		<param name="modality" value="events"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="file_name" value="$(arg file_name)"/>
	</node>

</launch>


