<!-- Create the launch file for ROS -->
<launch>
	<arg name="speed" default="1.0"/>
	<arg name="file_name" default="switch_test"/>
	<node name="gen" pkg="simulator" type="generator.py" output="screen">
		<param name="node_name" value="gen"/>
		<param name="next_element" value="coda"/>
		<param name="gen_freq" value="1"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="num_messages" value="20"/>
	</node>

	<node name="coda" pkg="simulator" type="coda.py" output="screen">
		<param name="node_name" value="coda"/>
		<param name="next_element" value="switch"/>
		<param name="num_servers" value="1"/>
		<param name="server_time" value="1"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="uncertanity" value="False"/>
	</node>

	<node name="switch" pkg="simulator" type="switch2.py" output="screen">
		<param name="node_name" value="switch"/>
		<param name="modality" value="split"/>
		<param name="topic1" value="coda2"/>
		<param name="topic2" value="coda3"/>
	</node>

	<node name="coda2" pkg="simulator" type="coda.py" output="screen">
		<param name="node_name" value="coda2"/>
		<param name="next_element" value="end"/>
		<param name="num_servers" value="2"/>
		<param name="server_time" value="3"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="uncertanity" value="False"/>
	</node>

	<node name="coda3" pkg="simulator" type="coda.py" output="screen">
		<param name="node_name" value="coda3"/>
		<param name="next_element" value="end"/>
		<param name="num_servers" value="1"/>
		<param name="server_time" value="4"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="uncertanity" value="False"/>
	</node>

	<node name="end" pkg="simulator" type="end_node.py" output="screen">
		<param name="node_name" value="end"/>
		<param name="modality" value="events"/>
		<param name="speed" value="$(arg speed)"/>
		<param name="file_name" value="$(arg file_name)"/>
	</node>

</launch>

